.buttonContainer {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.bottomButtonRow {
    margin-bottom: 44px;
}

.container {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 45px;
    color: white;
    text-align: center;
    margin-top: 10vh;
    padding: 15px;
}


.subheader {
    font-size: 16;
    color: #999999;
    text-align: center;
    padding: 15px;

    margin-bottom: 20px;

}

.skip {
    color: #999999;
}

.continue {
    color: #999999;
}

.unselectedTermsList {
    font-size: 24px;
}

.term {
    transition-duration: 200ms;
}

.unselectedTerm {
    color: #BBBBBB;
}

.selectedTerm {
    color:#08BA6A;
}



@media (hover: hover) and (pointer: fine) {
    .unselectedTerm:hover {
        color:#08BA6A;
    }
}